
  input,
  select {
    width: 400px;
    display: inline-block;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 150px;
    cursor: pointer;
  }

  form {
    border-radius:20px;
    width: 450px;
  }
  